<% params %>

<form action="/payment/results">
  <label for="apr_id">APR </label>
  <input id="apr_id" type="text" name="apr" placeholder="E.g. 5.42">
  <br>

  <label for="year_id">Number of years</label>
  <input id="year_id" type="text" name="years_remaining" placeholder="How many years to repay?">
  <br>

  <label for="principal_id">Principal</label>
  <input id="principal_id" type="text" name="principal" placeholder="How much principal?">
  <br>

  <button type="submit">Calculate monthly payment</button>
</form>
