<% params %>

<form action="/square/results">
  <label for="num_square">Enter a number.</label>
  <input id="num_square" type="text" name="square" placeholder="What number do you want to square?">
  <button type="submit">Calculate square</button>
</form>
