<% params %>

<form action="/square_root/results">
  <label for="num_square_root">Enter a number.</label>
  <input id="num_square_root" type="text" name="square_root" placeholder="What number do you want to square root?">
  <button type="submit">Calculate square root</button>
</form>
